*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
src/assets/mbando[[:space:]]pictures[[:space:]]fix/DSC04331.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/mbando[[:space:]]pictures[[:space:]]fix/DSC04374.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
