.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #004d26, #001a0d);
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 350px;
}

.login-box h1 {
  color: #004d26;
  margin-bottom: 10px;
}

.login-box p {
  color: #333;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #004d26;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box button:hover {
  background: #008037;
}
